<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css"%}"
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <h1 class="text- success my-5">Registration Form</h1>
          <form method="post" class='bg-light p-5 m-5'>
            {% csrf_token %}
            <div class="form-group">
            <input type="text" name="name" placeholder="enter fullname" class="form-control">
          </div>
          <div class="form-group">
          <input type="password" name="pwd" placeholder="enter password" class="form-control">
        </div>
        <div class="form-group">
        <input type="email" name="email" placeholder="enter email" class="form-control">
      </div>
      <div class="form-group">
      <input type="submit" value="Register" class="btn btn-success">
    </div>

      </form>
        </div>
      </div>
    </div>
  </body>
</html>
