<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8"
    <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css"%}"
    <title></title>
  </head>
  <body>
{{dt}}
<ul>
  {{dt}}


{% for i in dt %}
<li>{{i.name}}
  <ul>
<li>{{i.roll_no}}</li>
<li>{{i.contact}}</li>
</ul>
</li>
{% endfor %}
</ul>
  </body>
</html>
