<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css" %}"
  </head>
  <body>
    <table>
      <form class="" action="" method="post">
        {% csrf_token %}
    {{f.as_table}}
    <tr>
      <td>
    <input type="submit" class="btn btn-primary" value="Register">
  </td>
</tr>
  </table>
  </body>
</html>
