<!DOCTYPE html>
{% load staticfiles%}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script src="jquery.js"></script>
    <link href="{% static "bootstrap/css/bootstrap.min.css" %}"
    <title></title>
  </head>
  <body>
<form>
  <select name="countries">
    <option name=</option>
  </select>
</form>
  </body>
</html>
