<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css "%}"/>
  </head>
  <body>
<div class="container">
<div class="row">
<div class="col-md-12">
  <h1 class='bg-dark text-center'>Hello</h1><div class="container-fluid ">
  <nav class="navbar navbar-expand navbar-dark bg-primary">
  <a href="{% url "file" %}" class="navbar-brand">Mywebsite</a>
  <ul class="navbar-nav">
  <li class="nav-item">
  <a href="{% url "firstapp:f" %}" class="nav-link">home</a>
  </li>
  <li class="nav-item">
  <a href="{% url "firstapp:s" %}" class="nav-link">about</a>
  </li>
  </ul>
  </nav>
</div>
</div>
</div>
  </body>

</html>
