
<!DOCTYPE html>
{% load staticfiles % }
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <table>
    <form method=='POST'>

      {%csrf_token%}
      {{f.as_table}}
      <tr>
        <td>
      <input type="submit" class="btn btn-primary" value="Register">
    </td>
  </tr>
    </table>

    </form>
  </body>
</html>
