<!DOCTYPE html>
{%load staticfiles%}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="{% static "bootstrap/css/bootstrap.min.css"%}" rel="stylesheet"
  </head>
  <body>
    <div class="container">
      <div class="row mt-5">
        <div class="col-md-2"></div>
        <div class="col-md-4">
          <input type="submit" class="btn btn-info" value="SignUp">
        </div>
        <div class="col-md-4">
          <input type="submit" class="btn btn-info" value="Login">
        </div>
        <div class="col-md-2"></div>
        </div>
    </div>
  </div>

  </body>
</html>
