
<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css"%}"
    <style>
.h1{
  color:white;
}
    </style>
  </head>
  <body>
    <div class="container ">
      <div class="row py-5" style='background:url("static/images/road.jpg");height:500px;width:100%;'>

        <div class="col-md-12 p-5 mx-5">
          <form class=""  method="post">
            {% csrf_token %}
            <h1  class="text-primary text-center">Check Your Current Weather Here!</h1>
          </div>


            <div class="col-md-6">
            <input type='search' name="s" placeholder="enter the cityname" class="form-control">
            <div class="col-md-6">
            <input type="submit" value="search" class="btn btn-info">
          </div>
        </div>

          </form>
          <div >
            <h1>Main: {{temp}}</h1>
            <h1>Temperature: {{pressure}}</h1>
            <h1>Cloud: {{humidity}}</h1>
            <h1>City: {{city}}</h1>
        </div>
      </div>
        </div>



  </body>
</html>
